body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: system-ui, sans-serif;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    padding: 0.5rem;
}

a {
    color: #626262;
    font-family: helvetica, sans-serif;
    text-decoration: none;
}

a[target="_blank"]:after {
    font-family: 'FontAwesome';
    content: " \f08e";
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: black;
}

a:visited {
    color: #434343;
}

header {
    display: grid;
    place-items: center;
    background: #e3e3e3;
    padding: 2rem;
    font-size: 2rem;
}

main {
    margin: 1rem auto;
    font-size: 1.2rem;
}

footer {
    display: grid;
    place-items: center;
    background: #e3e3e3;
    padding: 2rem;
    font-size: 0.8rem;
}
